html{
    background-color: black;
    font-family: 'Gugi', cursive;
}

#title{
    color: lightskyblue;
}

#poke{
    position: absolute;
    height: 60px;
    margin-left: 420px;
    margin-top: -74px;
}

#field{
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#right{
    position: absolute;
    height: 80px;
}