html{
  margin: 0;
  padding: 0;
  background-color: black;
}

#Background{
  width: 90px;
  image-orientation: flip;
  position: absolute;
}

#game{
  width: 1200px;
  margin: auto;
  display: block;
  position: relative;
}
